:root {
    --background-color: #d1f5f8;
    --foreground-color: #031730;
}

* {
    font-family: 'Cairo';
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

img#logo-horizontal {
    width: 10em;
    display: none;
}

img#logo-vertical {
    width: 3em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1em;
}

header nav {
    display: flex;
    gap: 2em;
}

header nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 0.25em;
}

header nav a:hover {
    background-color: hsla(0 0 0 / 0.05);
}

main section {
    width: auto;
    min-height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

main section:first-child {
    box-sizing: border-box;
    --size: 3em;

    img {
        width: calc( var(--size) * 3 );
    }
    h1 {
        margin-top: calc( var(--size) * 0.2 );
        position: absolute;
        font-size: calc( var(--size) * 2 * 1.8 );
        line-height: calc( var(--size) * 0.15 * 1.8 );
        z-index: -1;
    }
}

.slide {

    display: flex;
    flex-direction: column;
    padding: 0.5em;
    width: 85vw;

    h1 {
        font-size: 14vw;
        line-height: 1em;
        margin: 0;
    }
    
    @media (width >= 768px) {

        width: 75vw;
        height: fit-content;

    }

    .slide__head {

        display: flex;
        gap: 1em;
        flex-direction: column;

        .slide__banner {
    
            background-position: center;
            background-size: cover;
            border-radius: 0.5em;
            width: 100%;
            height: 25vw;
            
            @media (width >= 768px) {
                
                flex-grow: 1;
    
            }
    
        }

        @media (width >= 768px) {
                
            flex-direction: row;

            .slide__banner {
                height: auto;
                width: 15vw;
            }
            
        }

    }

    .slide__body {
        font-size: 5vw;
        flex-grow: 1;
        padding-right: 1em;

        @media (width >= 768px) {
            font-size: 2.5vw;            
        }

    }

}

main section#milestones {

    flex-direction: column;
    padding-inline: 1em;

    &:after {

        content: "";
        width: 5px;
        height: 45vh;
        background-color: #03162f;
        border-radius: 5px;
        position: absolute;
        left: 3.2em;

    }

    time {

        width: 4.5em;
        height: 4.5em;
        background-color: #03162f;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: white;

    }

    & > div {

        display: flex;
        gap: 1em;
        left: 5em;
        z-index: 1;

        &:nth-child(4) {

            time {
                background-color: gray;                
            }

        }

        &:nth-child(5) {

            margin-top: calc(4.5em * 6);
            time {
                background-color: gray;                
            }

        }

        @media (width >= 768px) {
            
            left: 10em;

        }

    }

    @media (width >= 768px) {
            
        width: 30em;
        margin: auto;

    }

}

main section#contact-us {

    a {
        color: black;
    }

    .thumbnail {
        background-color: var(--foreground-color);
        border-radius: 0.5em 0.5em 0em 0em;
        overflow: hidden;
        text-wrap: wrap;
        .bar {
            color: #05c9d9;
            width: max-content;
            font-size: 2em;
            animation: scroll 20s linear infinite;
        }
        .bar:nth-child(odd) {
            animation: scroll 25s linear infinite;
        }
    }

    .info {
        border-radius: 0em 0em 0.5em 0.5em;
        background-color: white;
        padding: 1em;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: start;
        font-size: 5.5vw;
    }

    flex-direction: column-reverse;

    .thumbnail {
        width: 90vw;
        height: 10vh;
    }
    .info {
        width: 90vw;
        height: 20vh;
    }
    
    img {
        display: none;
    }

    @media (width >= 768px) {

        .info {

            font-size: 4vw;

        }

    }

}

@keyframes scroll {
    to {
        transform: translateX(-50%);
    }
}


footer {
    width: 100%;
    text-align: center;
    font-family: monospace;
    margin-bottom: 1em;
}

@media (width >= 768px) {

    img#logo-vertical {
        display: none;
    }

    img#logo-horizontal {
        display: block;
    }

    main section:first-child {
        
        .slide__body {

            p {
                
                font-size: 1em;

            }

        }
        
    }

}